{form $form}
  <ul class=error n:if="$form->ownErrors">
    <li n:foreach="$form->ownErrors as $error">{$error}</li>
  </ul>


  <div n:foreach="$form->controls as $input" n:class="$input->required ? required, row">
    <div class="large-12 columns">
      <label>{label $input /}</label>
      {input $input} <span class=error n:ifcontent>{$input->error}</span>
    </div>
  </div>
{/form}
