parameters:


nette:
  container:
    debugger: true

  debugger:
    maxDepth: 4


database:
  default:
    dsn: 'mysql:host=127.0.0.1;dbname=test'
    user:
    password:
    explain: false
    options:
      lazy: yes
