#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#

parameters:
  siteName: 'srigi-sandbox'
  uploadsDir: %wwwDir%/../uploads


php:
  date.timezone: Europe/Bratislava


nette:
  application:
    errorPresenter: Error
    mapping:
      *: App\*Module\*Presenter

  session:
    expiration: 14 days
    save_path: %tempDir%/sessions


extensions:
  webloader: WebLoader\Nette\Extension


services:
  - App\UserModel
  - App\SignInFormFactory

  DefaultPresenter:
    class: App\DefaultPresenter
    setup:
      - $siteName(%siteName%)

  SignPresenter:
    class: App\SignPresenter
    setup:
      - $siteName(%siteName%)

  router: App\RouterFactory()::createRouter
  wlScssFilter: WebLoader\Filter\ScssFilter


webloader:
  css:
    default:
      sourceDir: %wwwDir%/../styles
      files:
        - foundation.scss
        - main.scss
      fileFilters:
        - @wlScssFilter
  js:
    default:
      files:
        - %appDir%/../vendor/nette/forms/src/assets/netteForms.js
        - %wwwDir%/js/main.js
      remoteFiles:
        - //ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js
