{block content}
  <div class="hero">
    <h1 n:block="title">Sign in</h1>
  </div>

  <div class="content">
    <div class="row">
      <div class="small-11 medium-7 large-5 small-centered columns">
        {include '../../forms/signIn/form.latte', form => signInForm}
      </div>
    </div>
  </div>
