/* =====================================
 *  Base
 * ===================================== */


html {
  overflow-y: scroll;
}

body {
  padding-top: 2rem;
  line-height: 1.6;
}


@import 'base/typography';
@import 'base/forms';
