@import "variables";
@import "base";
@import "components";


/* --------------------------------
 *  Layout
 * -------------------------------- */

.sidebar {
  background: white;
  border-radius: 1rem;
  padding: 1rem;
}

.content {
  background: white;
  padding: 1rem 1.5rem;

  h2 {
    font-size: 130%;
  }
}

footer {
  background: white;
  border-radius: 0 0 1rem 1rem;
  color: gray;
  font-size: 70%;
  margin-bottom: 2rem;
  padding: 1rem 1.5rem;
}
