{layout '../@wrapper.latte'}


{block layout}
  {include '../_partials/flashes.latte'}

    <div class="wrapper">
      {include content}
      {include '../_partials/footer.latte'}
    </div>
  </div>
