{layout '../@wrapper.latte'}


{block layout}
  {include '../_partials/flashes.latte'}

  <div class="row">
    <div class="medium-3 columns">
      <div class="sidebar">
        <a n:href="Sign:in">Sign in</a>
      </div>
    </div>

    <div class="medium-9 columns">
      {include content}
      {include '../_partials/footer.latte'}
    </div>
  </div>
