{block content}
  <div id="banner">
    <h1 n:block=title>Congratulations!</h1>
  </div>

  <div id="content">
    <h2>You have successfully created your Nette Framework project.</h2>

    <footer>PHP {=PHP_VERSION} |
      {ifset $_SERVER['SERVER_SOFTWARE']}Server {$_SERVER['SERVER_SOFTWARE']}{/ifset} |
      Nette Framework {=Nette\Framework::VERSION}</footer>
  </div>
