{block content}
  <div class="hero">
    <h1 n:block="title">Congratulations</h1>
  </div>

  <div class="content">
    <h2>You have successfully created your <a href="http://www.nette.org">Nette Framework</a> project.</h2>
  </div>
