<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="{$robots}" n:ifset="$robots">
  <title>{ifset #title}{include title|striptags|trim} | {/ifset}{$siteName}</title>

  <!-- build:css {$basePath}/css/main.css -->
  <link rel="stylesheet" href="{$basePath}/css/main.css">
  {block styles}{/block}
  <!-- endbuild -->
</head>
<body>
  {include layout}

  <!-- build:js {$basePath}/js/vendor.js -->
  <script src="{$basePath}/vendor/jquery/dist/jquery.js"></script>
  <script src="{$basePath}/js/netteForms.js"></script>
  <!-- endbuild -->

  <!-- build:js {$basePath}/js/app.js -->
  {block scripts}{/block}
  <!-- endbuild -->
</body>
</html>
